{
  "trailingComma": "all",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 120,
  "singleQuote": false,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "./app/assets/css/tailwind.css"
}
